{% extends 'todo/base.html' %}

{% block content %}

<h1 class="mt-5">Completed Todos</h1>
{% if not todos %}
<div class="text-center mt-5">
    <h2>You don't have completed todos.</h2>
</div>
{% endif %}

<ul class="list-group mt-5">
    {% for todo in todos %}
    <li class="list-group-item list-group-item-action {% if todo.importance %}list-group-item-danger{% else %}list-group-item-warning{% endif %} d-flex justify-content-between">
        <a class="stretched-link text-decoration-none text-dark" href="{% url 'viewtodo' todo.id %}">
            <b>{{ todo.title }}</b>
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
        </a>
        {{ todo.date_completed|date:'M j Y H:i' }}
    </li>
    {% endfor %}
</ul>

{% endblock %}